<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="master/master :: header"></header>
	<br>
	
	<div class="container">
		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th>Id</th>
							<th>Tipo certificado</th>
							<th>Nombre del certificado</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="tt:${listaTipocertificados}">
							<td th:text="${tt.idTipocertificado}"></td>
							<td th:text="${tt.typecertificado}"></td>
							<td th:text="${tt.nombretipocertificado}"></td>
							<td> 
							<a th:href="@{/tipocertificadoss/eliminar?id=}+${tt.idTipocertificado}">
							Eliminar</a></td>
							<td>
							<a th:href="@{'/tipocertificadoss/irmodificar/'+${tt.idTipocertificado}}">
							Actualizar</a></td>							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>