<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="master/master :: header"></header>
	<br>

	<div class="container">
		<div>
			<form th:action="@{/tipocertificadoss/modificar}" method="post"
				th:object="${ttd}">
				<div class="col-sm-12">
					<label class="form-label">Id: </label> <input type="text"
						class="form-control" th:field="*{idTipocertificado}"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Tipo de certificado:</label> <input
						type="text" class="form-control" required pattern="[a-zA-z]+"
						maxlength="20" title="Tipo de certificado no valido"
						th:field="*{tipocertificado}"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Nombre del Certificado:</label> <input
						type="text" class="form-control" required pattern="[a-zA-z]+"
						maxlength="35" title="Nombre del certificado no valido"
						th:field="*{nombretipocertificado}"></input>
				</div>

				<br>
				<div class="col-sm-12">
					<input type="submit" class="btn btn-dark" value="Actualizar"></input>
				</div>

			</form>
		</div>

	</div>


</body>
</html>